.header-titles{
    margin: auto;
    margin-top: 3rem;
    width: 70vw;
}

.header-titles__title{
    display: flex;
}

.header-second-title {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  width: 70vw;
  align-items: center; 
  gap: 1.5rem;          
  margin-bottom: 2rem;
}

.header-second-title h2 {
  font-size: 1.8rem;
  color: #1e293b;
  margin: 0;
  white-space: nowrap;  
}

.header-second-title::after {
  content: "";
  flex-grow: 1;         
  height: 1px;          
  background-color: #cbd5e1; 
}

.all-articles-grid{
    display: grid;
    margin: auto;
    width: 70vw;
    grid-template-columns: repeat(4,1fr);
}

.section-cards__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.table-container{
    width: 70vw;
    margin: auto;
}

.table-container__products th {
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #64748b;
  letter-spacing: 0.5px;
}

.table-container__products td {
  padding: 1rem 1.5rem;
}

.opinions-container{
    display: flex;
    width: 70vw;
    margin: auto;
    gap: 2rem;
}

