
/*----------HEADER-----------*/

.main-header{
    display: flex;
    justify-content: space-around;
    padding: 1.2rem 15rem 1.2rem 10rem;
    border-bottom: 2px solid black;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 20px;
}

.navbar h1{
    font-size: 1.2rem;
    font-weight: 400;
}

/*----------BANNER-----------*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 70vw;
    height: auto;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 2rem auto 0; 
    overflow: hidden;
    padding: 0; 
}


.banner__firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 60%;
    gap: 1rem;
    border-right: 2px solid var(--color-border, #333);   
    padding: 4rem 6rem 4rem 4rem
}

.banner__buttons{
    display: flex;
    gap: 1rem;
}

.banner__buttons .button_uno{
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
}

.banner__buttons .button_dos{
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
}

.banner__secondSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.secondSection_card{
    width: 100%;                  
    height: 100%;
    background-color: white;
}

/*----------ARTICLES SECTION-----------*/

.articles-section{
    display: flex;
    margin: auto;
    margin-top: 3rem;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
}

.section-header{
    justify-content: center;
}

.section-header__title-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----------CARDS----------*/

.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 5rem;
    
}

.grid-cards__card{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.grid-cards__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.grid-cards__info{
    padding: 1rem;
}

.grid-cards__header{
    display: flex;
    gap: 10px
}

.grid-cards_description{
    border-bottom: 2px solid black;
}

footer{
    background-color: white;
    margin: auto;
    margin-top: 6rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    border-bottom: 2px solid black;
}

.footer-grid__section-list{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.footer-bottom p{
    width: 40%;
}

.footer-bottom__info{
    display: flex;
    gap: 1rem;
}